@using Arena_TierList.Models
@model OnValueHelperModel

@{
    ViewData["Title"] = "TierList";
}

<h1>TierList</h1>
<div class="container-fluid banner">
    <img src="~/banner5.png" />
</div>
<nav class="navbar navbar-light" style="background-color:#4a341d">
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="1">
        <img src="~/DH.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="2">
        <img src="~/Druid.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="11">
        <img src="~/Hunt.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="3">
        <img src="~/Mage.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="4">
        <img src="~/Paladin.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="5">
        <img src="~/Priest.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="6">
        <img src="~/Rogue.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="7">
        <img src="~/Shaman.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="9">
        <img src="~/War.png" width="92" height="46" alt="">
    </a>
    <a class="navbar-brand" asp-controller="Arena" asp-action="HeroTierList" asp-route-id="8">
        <img src="~/Warlock.png" width="92" height="46" alt="">
    </a>
</nav>


<div id="mainc" class="container-fluid" style="display:flex">
    <ul class="list-group">
        @foreach (var vgc in Model.VeryGood)
        {
            string s = "hero" + vgc.HeroId.ToString();

            <li class="list-group-item cardItem @s">
                <div class="cardName">
                    <a src="" class="link">
                        @vgc.Name
                        <span>
                            <img style="width:120px;height:200px" src="data:image/jpeg;base64,@(Convert.ToBase64String(vgc.Image))" />
                        </span>
                    </a>
                </div>
                <div class="cardValue">
                    @vgc.Value
                </div>

            </li>
        }
    </ul>

    <ul class="list-group">
        @foreach (var vgc in Model.Good)
        {
            string s = "hero" + vgc.HeroId.ToString();
            <li class="list-group-item cardItem @s">
                <div class="cardName">
                    <a src="" class="link">
                        @vgc.Name
                        <span>
                            <img style="width:120px;height:200px" src="data:image/jpeg;base64,@(Convert.ToBase64String(vgc.Image))" />
                        </span>
                    </a>
                </div>
                <div class="cardValue">
                    @vgc.Value
                </div>

            </li>
        }

    </ul>

    <ul class="list-group">
        @foreach (var vgc in Model.VeryMiddle)
        {
            string s = "hero" + vgc.HeroId.ToString();
            <li class="list-group-item cardItem @s">
                <div class="cardName">
                    <a src="" class="link">
                        @vgc.Name
                        <span>
                            <img style="width:120px;height:200px" src="data:image/jpeg;base64,@(Convert.ToBase64String(vgc.Image))" />
                        </span>
                    </a>
                </div>
                <div class="cardValue">
                    @vgc.Value
                </div>

            </li>


        }
    </ul>
    <ul class="list-group">
        @foreach (var vgc in Model.Middle)
        {
            string s = "hero" + vgc.HeroId.ToString();
            <li class="list-group-item cardItem @s">
                <div class="cardName">
                    <a src="" class="link">
                        @vgc.Name
                        <span>
                            <img style="width:120px;height:200px" src="data:image/jpeg;base64,@(Convert.ToBase64String(vgc.Image))" />
                        </span>
                    </a>
                </div>
                <div class="cardValue">
                    @vgc.Value
                </div>

            </li>
        }
    </ul>
    <ul class="list-group">
        @foreach (var vgc in Model.LessMiddle)
        {
            string s = "hero" + vgc.HeroId.ToString();
            <li class="list-group-item cardItem @s">
                <div class="cardName">
                    <a src="" class="link">
                        @vgc.Name
                        <span>
                            <img style="width:120px;height:200px" src="data:image/jpeg;base64,@(Convert.ToBase64String(vgc.Image))" />
                        </span>
                    </a>
                </div>
                <div class="cardValue">
                    @vgc.Value
                </div>

            </li>

        }
    </ul>
    <ul class="list-group">
        @foreach (var vgc in Model.Bad)
        {
            string s = "hero" + vgc.HeroId.ToString();
            <li class="list-group-item cardItem @s">
                <div class="cardName">
                    <a src="" class="link">
                        @vgc.Name
                        <span>
                            <img style="width:120px;height:200px" src="data:image/jpeg;base64,@(Convert.ToBase64String(vgc.Image))" />
                        </span>
                    </a>
                </div>
                <div class="cardValue">
                    @vgc.Value
                </div>

            </li>
        }
    </ul>
    <ul class="list-group">
        @foreach (var vgc in Model.LessBad)
        {
            string s = "hero" + vgc.HeroId.ToString();
            <li class="list-group-item cardItem @s">
                <div class="cardName">
                    <a src="" class="link">
                        @vgc.Name
                        <span>
                            <img style="width:120px;height:200px" src="data:image/jpeg;base64,@(Convert.ToBase64String(vgc.Image))" />
                        </span>
                    </a>
                </div>
                <div class="cardValue">
                    @vgc.Value
                </div>

            </li>
        }
    </ul>
</div>


@section Scripts{
    <sript>


    </sript>

}
